body {
    display: grid;
    place-items: center;
    place-content: center;
}


.button {
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center
}

.button:hover {
    background-color: ghostwhite;
    /* Green */
    color: black;
}
